
  <footer class="py-2 my-2">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><b class="nav-link px-2 text-muted">સરનામું: </b></li>
      <li class="nav-item"><span class="nav-link px-2 text-muted">કો.ઓ. બેન્ક પાસે, વાણીયાવાડ, હળવદ.</span></li>
      <li class="nav-item"><b class="nav-link px-2 text-muted">મોબાઇલ નંબર: </b></li>
      <li class="nav-item"><%= link_to "9033150596", "tel:+919033150596", class: "nav-link px-2 text-muted" %></li>
      <li class="nav-item"><%= link_to "9925165607", "tel:+919925165607", class: "nav-link px-2 text-muted" %></li>
    </ul>
    <p class="text-center text-muted"><%= link_to "© #{Time.zone.now.year} Hitesh Songra", "https://in.linkedin.com/in/hgsongra", class: "nav-link px-2 text-muted" %>  </p>
  </footer>