<h1><i class="bi bi-pencil-fill me-2"></i>ગ્રાહકમાં ફેરફાર કરો</h1>

<%= render "form", customer: @customer %>

<br>

<div class="row mt-2">
  <div class="col-lg-6">
    <%= link_to @customer, class: "btn btn-outline-primary m-1" do %>
      <i class="bi bi-eye-fill me-1"></i>ગ્રાહકની માહિતી જુઓ
    <% end %>
    <%= link_to customers_path, class: "btn btn-outline-primary m-1" do %>
      <i class="bi bi-arrow-left-circle-fill me-1"></i>ગ્રાહકોની સૂચિ પર પાછા ફરો
    <% end %>
  </div>
</div>
