<h1>Edit Customer</h1>

<%= render "form", customer: @customer %>

<br>

<div class="row mt-2">
  <div class="col-lg-6">
    <%= link_to "Show", @customer, class: "btn btn-outline-primary" %> 
    <%= link_to "<<< Back to Customers List", customers_path, class: "btn btn-outline-primary" %>
  </div>
</div>
