<h1>ગ્રાહકમાં ફેરફાર કરો</h1>

<%= render "form", customer: @customer %>

<br>

<div class="row mt-2">
  <div class="col-lg-6">
    <%= link_to "ગ્રાહકની માહિતી જુઓ", @customer, class: "btn btn-outline-primary" %> 
    <%= link_to "<<< ગ્રાહકોની સૂચિ પર પાછા ફરો", customers_path, class: "btn btn-outline-primary" %>
  </div>
</div>
