
<div class="pagetitle">
  <h1>નવા ગ્રાહક ઉમેરો</h1>
</div>

<%= render "form", customer: @customer %>


<div class="row mt-2">
  <div class="col-lg-6">
    <%= link_to "<<< ગ્રાહકોની સૂચિ પર પાછા ફરો", customers_path, class: "btn btn-outline-primary" %>
  </div>
</div>